.banner {
  width: 100%;
  height: 478px;
  background: url("../img201707/gb-banner.png") 50% 50% no-repeat;
  min-width: 1200px;
  overflow: hidden;
 }
.banner .banner-content{
  width: 800px;
  height: 478px;
  margin: 0 auto;
  overflow: hidden;
}
.banner .banner-content h3{
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.55);
  margin-top: 56px;
  margin-bottom: 35px;
}
.banner .banner-content .banner-title{
  width: 365px;
  height: 32px;
  margin: 0 auto 33px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.banner .banner-content h4{
  font-size: 24px;
  line-height:32px;
  text-align: center;
  color: #ffffff;
}
.banner .banner-content .banner-clarity{
  height: 168px;
  margin: 0 auto;
  background: url("../img201707/gb-jxh.png") repeat;
}
.banner .banner-content .banner-clarity .banner-clarity-content{
  min-width: 550px;
  width: auto;
}
.banner .banner-content .banner-clarity ul li{
  height: 27px;
  font-size: 16px;
  color: #fff;
}
.banner .banner-content .banner-clarity .banner-xinx{
  margin-left: 23px;
  margin-right: 15px;
  margin-top: 20px;
}
.banner .banner-content .banner-clarity .banner-xins{
  margin-top: 20px;
  margin-right: 23px;
}






.crumbs {
  width: 1200px;
  height: 50px;
  margin: 0 auto 25px;
  line-height: 50px; }
.crumbs span {
    float: left;
    font-size: 12px;
    color: #666; }
.crumbs span a {
      color: #666; }
.crumbs img{
  float: right;
  padding-top:10px;
}



.kai{
  width: 100%;
  height: 271px;
  border-bottom: 9px solid #e5e5e5;
  margin-bottom:35px;
}
.kai .kai-content{
  width: 1200px;
  height: 240px;
  margin: 0 auto;
}
.kai .kai-content .kai-img{
  width: 424px;
  height: 240px;
}
.kai .kai-content .kai-introduce{
width: 776px;
height: 240px;
overflow: hidden;
}
.kai .kai-content .kai-introduce p{
  padding-top: 25px;
  width: 759px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  text-align: justify;
  text-indent: 2em;
}
.kai .kai-content .kai-introduce .kai-title{
  height: 78px;
  margin-top: 13px;
  font-size: 48px;
  line-height: 78px;
  color: #333333;
}
.kai .kai-content .kai-introduce .kai-title img{
  margin-right: 20px;
}






.new-hot{
  width: 100%;
  height: 634px;
  border-bottom: 9px solid #e5e5e5;
  margin-bottom: 27px;
}
.new-hot .new-content{
  width: 1200px;
  height: 634px;
  margin: 0 auto;
}
.headlines {
  width: 1200px;
  height: 366px;
  margin: 0 auto 40px;
 }
  .headlines .lunbo {
    width: 530px;
    height: 328px;
    margin-bottom: 38px;
    float: left; }
    #player{
        width:527px;
        height:328px;
        position: relative;}
    #player .player .slide{
        width:100%;
        height:328px;
        position: absolute;}
    #player .player .slide b{
      display: inline-block;
      width: 517px;
      height: 36px;
      font-size: 14px;
      padding-left: 10px;
      color: #fff;
      line-height: 36px;
      position: absolute;
      left:0;
      bottom: 0;
      font-weight: 500;
      background-image: url("../img201707/new-yw.png");
    }
    #player .player_box{
        width:280px;
        height:328px;
        /*当子元素绝对定位时，margin:0 auto;没有效果，可用left:50%;margin-left:-594px;达到margin: 0 auto;效果*/
        left:45%;
        position: absolute;
        z-index: 4;}
        #player .player_box .player_center{
            width:280px;
            height:328px;
            float: left;
            position: relative;}
        #player .player_box .player_center div.tab_page{
            position: absolute;
            left:90%;
            bottom:11px;
            margin-left:-80px;}
        #player .player_box .player_center div.tab_page span{
            width:10px;
            height:10px;
            border-radius:100%;
            display: inline-block;
            left:100px;background: #666;
            margin-right:8px;text-align: center;
            color: #fff;
            cursor: pointer;}
  .headlines .emphasis {
    width: 645px;
    height: 328px;
    float: right; }
    .headlines .emphasis .emphasis-title {
      width: 645px;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid #ed1a1a; }
      .headlines .emphasis .emphasis-title b {
        display: inline-block;
        width: 5px;
        height: 22px;
        background-color: #efa91b;
        margin-top: 12px;
        margin-right: 8px;
        float: left; }
      .headlines .emphasis .emphasis-title h3 {
        font-size: 22px;
        color: #000; }
    .headlines .emphasis .emphasis-specific {
      height: 129px;
      border-bottom: 1px dashed #e5e5e5; }
      .headlines .emphasis .emphasis-specific h3 {
        font-size: 22px;
        color: #333;
        font-weight: bold;
        text-align: center;
        line-height: 58px; }
      .headlines .emphasis .emphasis-specific p {
        font-size: 14px;
        color: #7d7d7d;
        line-height: 25px;
        text-indent: 2em; }
        .headlines .emphasis .emphasis-specific p a {
          color: #13599a; }
    .headlines .emphasis .emphasis-list {
      height: 169px; }
      .headlines .emphasis .emphasis-list .emphasis-left {
        width: 296px;
        height: 169px;
        float: left; }
        .headlines .emphasis .emphasis-list .emphasis-left li {
          line-height: 42px; }
          .headlines .emphasis .emphasis-list .emphasis-left li b {
            font-size: 5px;
            color: #ed1a1a;
            margin-right: 10px; }
          .headlines .emphasis .emphasis-list .emphasis-left li a {
            font-size: 14px;
            color: #585858; }
            .headlines .emphasis .emphasis-list .emphasis-left li a span {
              border-right: 1px solid #59793a;
              padding-right: 2px; }
          .headlines .emphasis .emphasis-list .emphasis-left li a:hover {
            color: #ed1a1a; }
      .headlines .emphasis .emphasis-list .emphasis-right {
        width: 296px;
        height: 169px;
        float: right; }
        .headlines .emphasis .emphasis-list .emphasis-right li {
          line-height: 42px; }
          .headlines .emphasis .emphasis-list .emphasis-right li b {
            font-size: 5px;
            color: #ed1a1a;
            margin-right: 10px; }
          .headlines .emphasis .emphasis-list .emphasis-right li a {
            font-size: 14px;
            color: #585858; }
            .headlines .emphasis .emphasis-list .emphasis-right li a span {
              border-right: 1px solid #59793a;
              padding-right: 2px; }
          .headlines .emphasis .emphasis-list .emphasis-right li a:hover {
            color: #ed1a1a; }
.new-inten{
  width: 1200px;
  height: 183px;
}
.new-inten p{
  float: left;
  width: 796px;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #333333;
  padding-top: 23px;
  padding-left: 31px;
  text-indent: 2em;
}
.new-inten span{
  display: inline-block;
  float: right;
  width: 296px;
  height: 183px;
}



.region{
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 465px;
  border-bottom: 9px solid #e5e5e5;
  margin-bottom: 38px;
}
.region .region-content{
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.region .region-content h3{
  font-size: 28px;
 line-height: 28px;
 text-align: center;
 margin-bottom: 22px;
 color: #333333;
 font-weight: normal;
}
.region .region-content .region-title{
  height: 27px;
  font-size: 16px;
  line-height: 27px;
  padding-left: 230px;
  color: #333333;
  margin-bottom: 20px;
}
.region .region-content .region-title input{
  width: 150px;
  height: 25px;
  margin-left: 25px;
  padding-left: 8px;
  border-radius: 6px;
  border: solid 1px #bfbfbf;
}
.region .region-content .region-title button{
  margin-left: 10px;
  width: 54px;
  height: 27px;
  border-radius: 6px;
  border: solid 1px #bfbfbf;
 font-size: 14px;
 line-height: 27px;
 color: #000000;
 cursor: pointer;
 background: #fff;
}

.region .region-content ul{
  width: 1200px;
}
.region .region-content ul li{
  float: left;
  width: 181px;
  height: 39px;
  border: solid 1px #bfbfbf;
  margin-left: 9px;
  margin-right: 7px;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 15px;
}
.region .region-content ul li a{
  display: block;
  width: 100%;
  color: #333333;
}
.region .region-content ul li a:hover{
  color: #ed1a1a;
}
.region .region-content ul .cha{
  color: #ed1a1a;
  cursor: pointer;
}
.more{
      display:none;
    }
.shou{
  display: none;
}
.open{
  display: block;
}



.how{
  width: 100%;
  height: 970px;
  border-bottom: 9px solid #e5e5e5;
  margin-bottom: 38px;
}
.how .how-content{
  width: 1200px;
  height: 970px;
  margin: 0 auto;
}
.how .how-content h3{
  font-size: 40px;
  text-align: center;
  color: #333;
  font-weight: 400;
  margin-bottom: 36px;
}
.how .how-content .how-zi{
  width: 524px;
  height: 150px;
  margin: 0 auto 70px;
}
.how .how-content .how-zi p{
  font-size: 22px;
  text-align: center;
  color: #333;
  line-height: 40px;
}




.how-img{
  width: 1200px;
  height: 348px;
  margin-bottom: 90px;
}
.how-img ul{
  width: 1200px;
  height: 348px;
}
.how-img ul li{
  float: left;
}
.how-img ul li img{
  width: 181px;
  height: 181px;
  margin-bottom: 42px;
}
.how-img ul li h4{
  font-size: 18px;
  text-align: center;
  color: #333;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 18px;
}
.how-img ul li p{
  font-size: 18px;
 text-align: center;
 color: #333;
 line-height: 30px;
}
.how-img ul .one{
  width: 231px;
  margin-right: 110px;
}
.how-img ul .one img{
  margin-left: 25px;
}
.how-img ul .two{
  width: 217px;
  margin-right: 110px;
}
.how-img ul .two img{
  margin-left: 20px;
}
.how-img ul .three{
  width: 231px;
}
.how-img ul .three img{
  margin-left: 25px;
}
.how-img ul .four{
  width: 218px;
  float: right;
}
.how-img ul .four img{
  margin-left: 14px;
}



.how-inten{
  width: 1200px;
  height: 200px;
}
.how-inten span{
  width: 185px;
  float: left;
  margin-right: 85px;
  margin-left:60px;

}
.how-inten span img{
  width: 150px;
  height: 150px;
  margin-left: 23px;
}
.how-inten span div{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 0;
  padding: 0;
}
.how-inten p{
  float: left;
  width: 826px;
  font-size: 18px;
 line-height:28px;
 text-align: justify;
 color: #333333;
 text-indent: 2em;
 padding-top: 25px;
}



.cut{
  width: 100%;
  height: 715px;
  margin-bottom: 26px;
  border-bottom: 9px solid #e5e5e5;
}
.cut-contenter{
  width: 1196px;
  height: 715px;
  margin: 0 auto;
  position: relative; }
  .cut .cut-img {
    width: 1020px;
    height: 73px;
    margin: 0 auto 18px; }
    .cut .cut-img ul{
      width: 1020px;
      height: 73px;
    }
    .cut .cut-img ul .hand-expire {
      width: 303px;
      height: 73px;
      margin-right: 60px;
      cursor: pointer;
      background: url("../img201707/gb-jce.png") no-repeat; }

    .cut .cut-img ul .hand-turn {
      width: 303px;
      height: 73px;
      cursor: pointer;
      background: url("../img201707/gb-fl.png") no-repeat; }
    .cut .cut-img ul .hand-careful {
      width: 303px;
      height: 73px;
      cursor: pointer;
      background: url("../img201707/gb-pt.png") no-repeat; }
  .cut .cut-introduce {
    width: 1196px;
    height: 547px;
    background: #f7f7f7;
    margin: 0 auto;
    border: 2px solid #bfbfbf;
    overflow: hidden; }
    .cut .cut-introduce .cut-content {
      width: 1140px;
      height: 507px;
      margin-top: 40px;
      margin-left: 40px; }
      .cut .cut-introduce .cut-content .content-course {
          width: 1140px;
          height: 507px;}
          .cut .cut-introduce .cut-content .content-course ul {
            width: 1140px;
            height: 489px;
            margin: 19px auto; }
            .cut .cut-introduce .cut-content .content-course ul li {
              float: left;
              width: 299px;
              height: 197px;
              margin-right: 72px;
              margin-bottom: 40px}
              .cut .cut-introduce .cut-content .content-course ul li img {
                float: left;
                width: 163px;
                height: 197px; }
              .cut .cut-introduce .cut-content .content-course ul li .course-content {
                float: right;
                width: 136px;
                height: 197px; }
                .cut .cut-introduce .cut-content .content-course ul li .course-content h4 {
                  font-size: 16px;
                  line-height: 40px;
                  font-weight: 500; }
                  .cut .cut-introduce .cut-content .content-course ul li .course-content h4 a {
                    color: #333; }
                  .cut .cut-introduce .cut-content .content-course ul li .course-content h4 a:hover {
                    color: #ed1a1a; }
                .cut .cut-introduce .cut-content .content-course ul li .course-content p {
                  font-size: 15px;
                  color: #999;
                  margin-bottom: 19px; }
                .cut .cut-introduce .cut-content .content-course ul li .course-content span {
                  display: block;
                  width: 74px;
                  height: 20px;
                  border-radius: 6px;
                  border: 1px solid #ff0000;
                  text-align: center;
                  line-height: 20px; }
                  .cut .cut-introduce .cut-content .content-course ul li .course-content span a {
                    display: block;
                    width: 100%;
                    color: #ed1a1a; }
                  .cut .cut-introduce .cut-content .content-course ul li .course-content span a:hover {
                    color: #fff;
                    background-color: #ed1a1a; }
            .cut .cut-introduce .cut-content .content-course ul .last {
              width: 299px;
              height: 197px;
              margin-right: 0; }


        .cut .cut-introduce .cut-content2 {
          width: 1196px;
          height: 467px;
          padding-top: 80px;
           background: #fff;}
          .cut .cut-introduce .cut-content2 h3 {
            font-size: 18px;
            font-weight: bold;
            line-height: 18px;
            margin-bottom: 15px; }
          .cut .cut-introduce .cut-content2 p {
            font-size: 14px;
            line-height: 34px;
            text-align: justify;
            color: #333333; }



            .cut .cut-introduce .cut-content3 {
              width: 1196px;
              height: 517px;
              padding-top: 32px;
               background: #fff;}

              .cut .cut-introduce .cut-content3  ul{
                width: 540px;
                height: 482px;
                box-shadow: 0.6px 0.8px 0 0 #000000;
                float: left;
                margin-left: 35px;
                margin-right: 20px;
              }
              .cut .cut-introduce .cut-content3  ul li{
                height: 138px;
                border-bottom: 2px dashed #bfbfbf;
                margin-bottom: 28px;
              }
              .cut .cut-introduce .cut-content3  ul .last{
                border: none;
              }
              .cut .cut-introduce .cut-content3  ul li p{
                width: 497px;
                font-size: 14px;
                 line-height: 2.07;
                 text-align: left;
                 color: #666666;
              }
              .cut .cut-introduce .cut-content3  ul li .title {
                font-size: 18px;
                line-height: 18px;
                margin-bottom: 15px;

                }
                .cut .cut-introduce .cut-content3  ul li .title a{
                  color: #000;
                }
                .cut .cut-introduce .cut-content3  ul li .title a:hover{
                  color: #ed1a1a;
                }
              .cut .cut-introduce .cut-content3  ul li .title img{
                width: 20px ;
                height: 17px;
                margin-right: 10px;
              }


.video{
  width: 100%;
  height: 758px;
  margin-bottom: 30px;
  border-bottom: 9px solid #e5e5e5;
}
.video .video-content{
  width: 1200px;
  height: 758px;
  margin: 0 auto;
}
.video .video-content h3{
  height: 67px;
  text-align: center;
  margin-bottom: 15px;
}
.video .video-content h4{
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  margin-bottom: 20px;
}
.video .video-content .video-xi{
  width: 1200px;
  height: 556px;
}
.video .video-content .video-xi .video-xil{
  width: 747px;
  height: 556px;
  position: relative;
}
.video .video-content .video-xi .video-xil img{
  width: 747px;
  height: 556px;
}
.video .video-content .video-xi .video-xil a img{
  width: 119px;
  height: 119px;
  position: absolute;
  top: 220px;
  left: 320px;
}
.video .video-content .video-xi .video-xil a b{
  width: 727px;
  height: 46px;
  background: url("../img201707/gb-hui.png")no-repeat;
  position: absolute;
  bottom: 0px;
  font-size: 24px;
 line-height: 46px;
padding-left: 20px;
 color: #ffffff;
 font-weight: normal;
}




.video .video-content .video-xi ul{
  width: 416px;
  height: 556px;
}
.video .video-content .video-xi ul li{
  float: left;
  margin-left: 12px;
  margin-bottom: 10px;
  width: 196px;
  height: 179px;
  position: relative;
}
.video .video-content .video-xi ul li img{
  width: 196px;
  height: 179px;
}
.video .video-content .video-xi ul li a img{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 47px;
  left: 68px;
}
.video .video-content .video-xi ul li a b{
  width: 176px;
  height: 34px;
  background: url("../img201707/gb-xhui.png")no-repeat;
  position: absolute;
  bottom: 0px;
  font-size: 18px;
 line-height: 34px;
padding-left: 20px;
 color: #ffffff;
 font-weight: normal;
}


.list{
  width: 100%;
  height: 435px;
  border-bottom: 9px solid #e5e5e5;
  margin-bottom: 25px;
}
.list .list-content{
  width: 1200px;
  height: 465px;
  margin: 0 auto;
}
.list .list-content .list-class{
  width: 1115px;
  height: 80px;
  margin: 0 auto 25px;
}
.list .list-content .list-class li{
  float: left;
  height: 33px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 16px;
 line-height:33px;
 text-align: center;

}
.list .list-content .list-class li a{
  display: block;
  width: 100%;
  color: #999999;
  border: 1px solid #dcdcdc;
}
.list .list-content .list-class li a:hover{
  border: 1px solid #ed1a1a;
  color: #ed1a1a;
}
.list .list-content .list-class .list-big{
  width:180px;
}
.list .list-content .list-class .horn{
  width:118px;
}

.list .list-content .list-img{
  width: 1200px;
  height: 291px;
}
.bof{
  width: 530px;
  height: 291px;
  float: left; }
  #play{
      width:527px;
      height: 291px;
      position: relative;}
  #play .play .slide{
      width:100%;
      height: 291px;
      display:none;
      position: absolute;}
  #play .play .slide b{
    display: inline-block;
    width: 517px;
    height: 36px;
    font-size: 14px;
    padding-left: 10px;
    color: #fff;
    line-height: 36px;
    position: absolute;
    left:0;
    bottom: 0;
    font-weight: 500;
    background-image: url("../img201707/new-yw.png");
  }
  #play .play_box{
      width:280px;
      height: 291px;
      /*当子元素绝对定位时，margin:0 auto;没有效果，可用left:50%;margin-left:-594px;达到margin: 0 auto;效果*/
      left:45%;
      position: absolute;
      z-index: 4;}
      #play .play_box .play_center{
          width:280px;
          height: 291px;
          float: left;
          position: relative;}
      #play .play_box .play_center div.teb_page{
          position: absolute;
          left:90%;
          bottom:11px;
          margin-left:-80px;}
      #play .play_box .play_center div.teb_page span{
          width:10px;
          height:10px;
          border-radius:100%;
          display: inline-block;
          left:100px;background: #666;
          margin-right:8px;text-align: center;
          color: #fff;
          cursor: pointer;}
.bo-new{
  width: 640px;
  height: 291px;
  float: right;
}
.bo-new .bo-newl{
  width: 290px;
  height: 291px;
  float: left;
}
.bo-new .bo-newl li{
  height: 39px;
  font-size: 14px;

}
.bo-new .bo-newl li b{
  display: inline-block;
    width: 4px;
    height: 4px;
    background: url("../img201707/hdian.png") no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.bo-new .bo-newl li a{
  color: #585858;
}
.bo-new .bo-newl li a:hover{
  color: #ed1a1a;
}
.bo-new .bo-newr{
  width: 290px;
  height: 291px;
  float: right;
}
.bo-new .bo-newr li{
  height: 39px;
  font-size: 14px;

}
.bo-new .bo-newr li b{
  display: inline-block;
    width: 4px;
    height: 4px;
    background: url("../img201707/hdian.png") no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.bo-new .bo-newr li a{
  color: #585858;
}
.bo-new .bo-newr li a:hover{
  color: #ed1a1a;
}





.writing{
  width: 1190px;
  height: 122px;
  margin: 0 auto 64px;
  border: 1px solid #bfbfbf;
}
.writing p{
  padding-left: 17px;
  padding-top: 22px;
  width: 1162px;
  font-family: "MicrosoftYaHei";
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #333333;
  text-indent: 2em;
}


.otherBox{
  width:100%;
  min-width: 1190px;
  height:487px;
}

.other{
  width:1190px;
  margin:0 auto;
  height:487px;
}

.otherBox .other ul{
  width: 222px;
  height:auto;
  float: left;
  margin-right: 15px;
  border: 1px solid #bfbfbf;
}

.otherBox .other .lc{
  margin-right: 0;
}
.otherBox .other .gp{
  margin-left: 8px;
}
.otherBox .other .gp span{
  width: 222px;
  height: 157px;
  display: inline-block;
}
.otherBox .other .qh span{
  width: 222px;
  height: 157px;
  display: inline-block;
}
.otherBox .other .ji span{
  width: 222px;
  height: 157px;
  display: inline-block;
}
.otherBox .other .tz span{
  width: 222px;
  height: 157px;
  display: inline-block;
}
.otherBox .other .lc span{
  width: 222px;
  height: 157px;
  display: inline-block;
}

.otherBox .other span p{
  color:#fff;
  text-align: center;
  width:100%;
  display: inline-block;
}

.otherBox .other span .tm1{
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  margin:31px 0 11px;
}

.otherBox .other span .tm2{
  font-size:16px;
  line-height:16px;
  margin:0 0 11px;
}

.otherBox .other ul li{
  width:199px;
  height:32px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  background:  #f6f6f6;
  margin: 7px auto;
}
.otherBox .other ul li a{
  color: #333;
}
.otherBox .other ul li a:hover{
  color: #ed1a1a;
}
.sidebar{
  width:46px;
  height:auto;
  position:fixed;
  right:0;
  z-index: 9999;
  top:25%;
}

.sidebar .kf img{
  width:46px;
  height:46px;
  margin-bottom: 3.6px;
}

.sidebar .top{
  display: inline-block;
  width:26px;
  height:20px;
}

.sidebar .top img{
  width: 46px;
  height:46px;
}

.sidebar .img1{
  width:46px;
}
