.name{
  width: 973px;
  background-color: #ffffff;
  border: solid 1px #dbebf8;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.name .name-title{
  height: 60px;
  background-color: #f3f8ff;
  border-bottom: 3px solid #2f5895;
  margin-bottom: 25px;
}
.name .name-title h1{
  margin-left: 19px;
  font-size: 30px;
  font-weight: normal;
  line-height: 60px;
  text-align: left;
  color: #2f5895;
}
.name .name-title h1 span{
  font-size: 18px;
}
.name .name-content{
  padding: 0 20px;
}
.name .name-content ul{
  overflow: hidden;
}
.name .name-content ul li{
  width: 450px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
  color: #333333;
}
.name .name-content ul li span{
  margin-right: 15px;
}




.public_title{
	background-color: #f3f8ff;
	width: 973px;
	height: 37px;
    border: 1px solid #dbebf8;
	border-bottom: 3px solid #2f5895;
}
.public_title h3{
	font-size: 18px;
	line-height: 37px;
	color: #2f5895;
	padding-left: 18px;
}
.jbzl{
  padding:25px 20px 0;
  border: solid 1px #dbebf8;
  margin-bottom: 20px;
}
.jbzl ul{
  overflow: hidden;
}
.jbzl ul .fl{
  width: 535px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
  color: #333333;
}
.jbzl ul .fr{
  width: 385px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
  color: #333333;
}
.jbzl ul li span{
  margin-right: 15px;
}
.gsjs{
	width:933px;
	height: auto;
	border: 1px solid #dbebf8;
	margin-bottom:20px;
  padding:20px;
  font-size: 16px;
  line-height: 25px;
  color: #333;
  text-align: justify;
}
.noTableData{
	height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 16px;
  display: none;
}
