.public_title{
	background-color: #f3f8ff;
	width: 973px;
	height: 37px;
  border: 1px solid #dbebf8;
	border-bottom: 3px solid #2f5895;
}
.public_title h3{
	font-size: 18px;
	line-height: 37px;
	color: #2f5895;
	padding-left: 18px;
}
table, tr, td {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table tr:nth-child(odd){background:#fff;}
table tr:nth-child(even){background:#f7f7f7;}
.bg {
    background-color: #f7f7f7;
}



.zfmz{
	width:973px;
	height: auto;
	border: 1px solid #dbebf8;
	margin-bottom:20px;
}
.zfmz .tab{
	width:973px;
	height: 57px;
	border-bottom:#dbebf8 1px solid;
}
.zfmz .tab span{
	font-size: 18px;
	padding:0 5px 5px;
	line-height: 57px;
	border-bottom: 2px solid #fff;
	margin:0 15px;
	cursor: pointer;
}
.zfmz .tab .on{
	font-size: 18px;
	padding:0 5px 5px;
	line-height: 57px;
	border-bottom: 2px solid #2f5895;
	font-weight: bold;
}
.zfmz .nr{
	display: none;
}



.content_table {
    width: 100%;
    font-size:14px;
    text-align: right;
    table-layout: fixed;
}
.content_table .first_tr {
    font-weight: bold;
    color: #325398;
    line-height: 45px;
}
.content_table .subTitle {
    font-weight: bold;
}
.content_table .first_td {
    width: 200px;
    color: #325398;
    text-align: left;
}
.content_table td {
    padding: 5px 10px 5px 10px;
}






.noTableData{
	height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 16px;
    display: none;
}
