.public_title{
	background-color: #f3f8ff;
	width: 973px;
	height: 37px;
  border: 1px solid #dbebf8;
	border-bottom: 3px solid #2f5895;
}
.public_title h3{
	font-size: 18px;
	line-height: 37px;
	color: #2f5895;
	padding-left: 18px;
}
table, tr, td {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table tr:nth-child(odd){background:#fff;}
table tr:nth-child(even){background:#f7f7f7;}
.bg {
    background-color: #f7f7f7;
}


.zfmz{
	width:973px;
	height: auto;
	margin-bottom:20px;
}
.zfmz .tab{
	width:973px;
	height: 57px;
	border-bottom:#dbebf8 1px solid;
}
.zfmz .tab span{
	font-size: 18px;
	padding:0 5px 5px;
	line-height: 57px;
	border-bottom: 2px solid #fff;
	margin:0 15px;
	cursor: pointer;
}
.zfmz .tab .on{
	font-size: 18px;
	padding:0 5px 5px;
	line-height: 57px;
	border-bottom: 2px solid #2f5895;
	font-weight: bold;
}
.zfmz .nr{
	display: none;
}
.page-main {
    position: relative;
    z-index: 0;
}
.J-ajax-table {
    margin-bottom: 20px;
}
.m-table {
    width: 100%;
    background: #fff;
    font-size: 16px;
    border: #eaeff2 1px solid;
}
.m-table th.th-col {
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f3f7fa;
}
.font_blue {
    color: #2f5895;
}
.m-table td {
    text-align: center;
    line-height: 45px;
}
.noTableData{
	height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 16px;
    display: none;
}
