/*
*@ author : sns;
*@ date : 2018-04-12
*
*/

.public_title h3{
  float: left;
}
.public_title .main-title-select{
  float: right;
  margin-right: 15px;
}
.public_title .main-title-select span{
  font-size: 14px;
  line-height: 37px;
}
.public_title .ttjj-select{
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 230px;
  height: 25px;
  border: 1px solid #4a90e2;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
}
.public_title .ttjj-select span{
  line-height: 25px;
}
.ttjj-select .ttjj-select-heading {
    display: block;
    height: 100%;
    cursor: pointer;
    padding-left: 10px;
    background: #fff;
    color: #333 !important;
    line-height: 25px;
}
.ttjj-select .ttjj-select-heading .ttjj-iconfont {
    float: right;
    padding-right: 13px;
    width: 9px;
    height: 4px;
    margin-top: 10px;
}
.public_title .ttjj-select ul{
  display: none;
  width: 230px;
  max-height: 230px;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  top: 26px;
  left: -1px;
  background: #fff;
  border: 1px solid #dbdbdb
}
.ttjj-select .active {
    border-color: #4a90e2;
}
.ttjj-select ul li {
    border-bottom: 1px solid #dbdbdb;
    width: 230px;
}
.ttjj-select ul li a {
    display: block;
    padding-left: 10px;
    line-height: 25px;
    color: #333;
}
.ttjj-select ul li:hover{
  background: #4a90e2;
}
.ttjj-select ul li:hover a{
  color: #fff;
}



.xin {
    width: 973px;
    height: auto;
    border: 1px solid #dbebf8;
    margin-bottom: 20px;
    overflow: hidden;
}
.xin table{
  width: 950px;
  margin: 15px auto;
}
.xin th {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    font-weight: normal;
}
.xin table, .xin th, .xin td {
    border: 1px solid #d3d3d3;
    text-align: center;
    font-size: 16px;
}
.xin td {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}
table.comm th {
    width: 50%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #d3d3d3;
    background: #eee;
}
.remark span{
  font-size: 14px;
  line-height: 26px;
  color: #333;
}
