/*侧边栏*/
.sidebar {
    width:46px;
    height:auto;
    position:fixed;
    right:0;
    z-index: 999;
    top:25%;
}
.sidebar .kf img {
	width:46px;
	height:46px;
	margin-bottom: 3.6px;
}
.sidebar .top {
	display: inline-block;
	width:26px;
	height:20px;
}
.sidebar .top img {
	width: 46px;
	height:46px;
}
.sidebar .img1 {
	width:46px;
}

.bannerbg {
	width: 100%;
	height: 223px;
	background-image: url("../images/img/wd_bannerbg.png");
}
.bannerbg .banner {
	width: 1200px;
	height: 223px;
	margin: 0 auto;
	position: relative;
	background-image: url("../images/img/wd_banner.png");
}
.bannerbg .banner .sousuo {
	width: 270px;
	height: 30px;
	position: absolute;
	left: 415px;
	top: 175px;
	background-color: #fff;
	*border: 1px solid #e5e5e5;
	border-radius: 6px;
	box-shadow: -0.6px 0.8px 1px 0 rgba(0, 0, 0, 0.35);
}
.bannerbg .banner .sousuo input {
	width: 230px;
	height: 30px;
	margin-left: 5px;
	line-height: 30px;
	font-size: 12PX;
}
.bannerbg .banner .sousuo span img {
	width: 17px;
	height: 17px;
	margin-top: 6px;
}
.bannerbg .banner button {
	width: 74px;
	height: 30px;
	border: none;
	border-radius: 6px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 705px;
	top: 175px;
	color: #ed1a1a;
	background-color: #fff;
	*border: 1px solid #e5e5e5;
	box-shadow: -0.6px 0.8px 1px 0 rgba(0, 0, 0, 0.35);
}
.bannerbg .banner button a {
	color: #ed1a1a;
}
.crumbs {
	width: 1200px;
	height: 55px;
	margin: 0 auto;
	line-height: 55px;
}
.crumbs span {
	font-size: 12px;
}
.crumbs span a {
	color: #666;
}
.content {
	width: 1200px;
	height: auto;
	overflow: auto;
	margin: 0 auto 55px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.content .content-list {
	width:880px;
	height: auto;
	min-height: 125px;
	border-top: 3px solid #ed1a1a;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.content .content-list .liebiao ul {
	width: 840px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.content .content-list .liebiao ul li {
	width: 840px;
	height: 74px;
	line-height: 74px;
	border-bottom: 1px solid #cacaca;
}
.content .content-list .liebiao ul li h3 {
	font-size: 30px;
	color: #333;
	text-align: left;
}
.content .content-list .liebiao ul li a {
	font-size: 18px;
	color: #333;
}
.content .content-list .liebiao ul li b {
	float: right;
	display: inline-block;
	width: 80px;
	height: 74px;
	font-size: 14px;
	color: #c4c4c4;
}
.content .content-list .liebiao ul li b img {
	vertical-align: middle;
}
.content .content-list .liebiao ul li span {
	float: right;
	font-size: 14px;
	color: #c4c4c4;
}
.content .content-list .pager {
	height: 30px;
	padding: 10px 0;
	clear: both;
	margin-bottom: 15px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.content .content-list .pager a {
	display: inline-block;
	border: 1px solid #c5c5c5;
	padding: 2px 8px;
}

.content-course {
	width: 880px;
	height: 210px;
	background: #f9f9f9;
	border-top: 2px solid #ed1a1a;
	margin-bottom: 20px;
}
.content-course .course-title {
	width: 830px;
	height: 20px;
	margin: 15px auto 0;
}
.content-course .course-title h3 {
	font-size: 16px;
	color: #ed1a1a;
	float: left;
}
.content-course .course-title b {
	float: right;
	cursor: pointer;
}
.content-course .course-title b img {
	width: 16px;
	height: 18px;
}
.content-course ul {
	width: 880px;
	height: 140px;
	margin: 19px auto;
}
.content-course ul li {
	float: left;
	width: 269px;
	height: 140px;
	margin-right: 27px;
}
.content-course ul li img {
	float: left;
	width: 133px;
	height: 140px;
}
.content-course ul li .course-content {
	float: right;
	width: 136px;
	height: 140px;
}
.content-course ul li .course-content h4 {
	font-size: 16px;
	line-height: 40px;
	font-weight: 500;
}
.content-course ul li .course-content h4 a {
	color: #333;
}
.content-course ul li .course-content h4 a:hover {
	color: #ed1a1a;
}
.content-course ul li .course-content p {
	font-size: 12px;
	color: #999;
	margin-bottom: 19px;
}
.content-course ul li .course-content span {
	display: block;
	width: 74px;
	height: 20px;
	border-radius: 6px;
	border: 1px solid #ff0000;
	text-align: center;
	line-height: 20px;
}
.content-course ul li .course-content span a {
	display: block;
	width: 100%;
	color: #ed1a1a;
}
.content-course ul li .course-content span a:hover {
	color: #fff;
	background-color: #ed1a1a;
}
.content-course ul .last {
	width: 269px;
	height: 140px;
	margin: 0;
}
.content-video {
	width: 880px;
	height: 200px;
	border-top: 2px solid #ed1a1a;
}
.content-video .video-title {
	width: 830px;
	height: 20px;
	margin: 15px auto 0;
}
.content-video .video-title h3 {
	font-size: 16px;
	color: #ed1a1a;
	float: left;
}
.content-video .video-title b {
	float: right;
	cursor: pointer;
}
.content-video .video-title b img {
	width: 16px;
	height: 18px;
}
.content-video ul {
	width: 840px;
	height: 150px;
	margin: 15px auto 0;
}
.content-video ul li {
	float: left;
	width: 195px;
	height: 150px;
	margin-right: 20px;
	position: relative;
}
.content-video ul li img {
	width: 195px;
	height: 120px;
}
.content-video ul li b {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 43px;
	left: 80px;
}
.content-video ul li b img {
	width: 35px;
	height: 35px;
}
.content-video ul li p {
	font-size: 12px;
	line-height: 24px;
}
.content-video ul li p a {
	color: #333;
}
.content-video ul li p a:hover {
	color: #ed1a1a;
}
.content-video ul .last {
	width: 195px;
	height: 150px;
	margin: 0;
}

/*右侧*/
.content-right {
	width: 300px;
	height: auto;
}
.content-right .new-information {
	width: 300px;
	height: 222px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border-top: 1px solid #ed1a1a;
}
.content-right .new-information h3 {
	font-size: 18px;
	color: #ed1a1a;
	margin-left: 33px;
	margin-top: 20px;
	font-weight: 500;
}
.content-right .new-information ul {
	width: 200px;
	height: 160px;
	margin-left: 35px;
}
.content-right .new-information ul li {
	margin-top: 15px;
	height: 17px;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
}
.content-right .new-information ul li a {
	color: #333;
}
.content-right .new-information ul li a b {
	display: inline-block;
	width: 17px;
	height: 16px;
	margin-right: 16px;
}
.content-right .new-information ul li a b img {
	width: 17px;
	height: 16px;
}
.content-right .new-information ul li a:hover {
	color: #ed1a1a;
}
.content-right .left-tell {
	width: 300px;
	height: 115px;
	margin-bottom: 10px;
	background: #f66;
}
.content-right .left-tell .tell-ency {
	width: 300px;
	height: 115px;
}
.content-right .left-tell .tell-ency #tell-roll {
	width: 300px;
	height: 115px;
	position: relative;
}
.content-right .left-tell .tell-ency #tell-roll .tell-contenter {
	width: 300px;
	height: 115px;
	position: relative;
	float: left;
	overflow: hidden;
}
.content-right .left-tell .tell-ency #tell-roll .tell-contenter .tell-content {
	width: 1200px;
	height: 115px;
	position: absolute;
}
.content-right .left-tell .tell-ency #tell-roll .tell-contenter .tell-content .tell-imgroll {
	width: 300px;
	height: 115px;
	float: left;
	cursor: pointer;
	overflow: hidden;
}
.content-right .left-tell .tell-ency #tell-roll .tell-contenter .tell-content .tell-imgroll a img {
	border: none;
	vertical-align: top;
}
.content-right .left-tell .tell-ency #tell-roll .tell-left {
	height: 20px;
	width: 14px;
	position: absolute;
	top: 48px;
	left: 0;
	cursor: pointer;
	background: url("../img201707/left.png");
}
.content-right .left-tell .tell-ency #tell-roll .tell-right {
	height: 20px;
	width: 14px;
	position: absolute;
	top: 48px;
	right: 0;
	cursor: pointer;
	background: url("../img201707/right.png");
}
.content-right .Newest {
	width: 300px;
	height: 222px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border-top: 1px solid #ed1a1a;
}
.content-right .Newest h3 {
	font-size: 18px;
	color: #ed1a1a;
	margin-left: 33px;
	margin-top: 20px;
	font-weight: 500;
}
.content-right .Newest ul {
	width: 200px;
	height: 160px;
	margin-left: 35px;
}
.content-right .Newest ul li {
	margin-top: 15px;
	height: 17px;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
}
.content-right .Newest ul li a {
	color: #333;
}
.content-right .Newest ul li a b {
	display: inline-block;
	width: 21px;
	height: 16px;
	margin-right: 14px;
}
.content-right .Newest ul li a b img {
	width: 21px;
	height: 16px;
}
.content-right .Newest ul li a:hover {
	color: #ed1a1a;
}
.content-right .wz_rmwd {
	width: 300px;
	height: 288px;
	background-color: #f9f9f9;
	margin-bottom: 10px;
	border-top: 1px solid #ed1a1a;
}
.content-right .wz_rmwd h3 {
	font-size: 16px;
	font-weight: 300;
	color: #ed1a1a;
	margin-top: 22px;
	margin-bottom: 19px;
	margin-left: 32px;
}
.content-right .wz_rmwd ul {
	width: 300px;
	overflow: hidden;
}
.content-right .wz_rmwd ul li {
	width: 100%;
	min-height: 16px;
	height: auto;
	display: inline-block;
	line-height: 16px;
	font-size: 14px;
	margin-bottom: 19px;
	text-align: center;
	border-bottom: 1px dashed #e5e5e5;
}
.content-right .wz_rmwd ul li a {
	float: left;
	font-size: 15px;
	text-align: left;
	color: #333;
}
.content-right .wz_rmwd ul li a img {
	width: 17px;
	height: 17px;
	float: left;
	margin-left: 32px;
	margin-right: 5px;
	vertical-align: middle;
}
.content-right .wz_rmwd ul li a p {
	display: inline-block;
	line-height: 15px;
}
.content-right .wz_rmwd ul li a .info {
	margin-left: 32px;
	margin-top: 5px;
	font-size: 12px;
	width: 240px;
	padding-bottom: 20px;
}
.content-right .wz_rmwd ul li a .info b {
	font-weight: normal;
	color: #000;
	margin-right: 5px;
	float: left;
}
.content-right .wz_rmwd ul li a .info .state {
	float: right;
	color: #666;
}
.content-right .wz_rmwd ul .last {
	border: none;
}
.content-right .fix {
	position: fixed;
	top: 0;
}
.content-right .rightSide .wz_tool {
	width: 300px;
	height: 302px;
	background: #f9f9f9;
	border-top: 1px solid #ed1a1a;
}
.content-right .rightSide .wz_tool h3 {
	font-size: 16px;
	color: #ed1a1a;
	margin-left: 32px;
	margin-top: 20px;
}
.content-right .rightSide .wz_tool ul {
	width: 300px;
	height: auto;
	overflow: hidden;
}
.content-right .rightSide .wz_tool .smallButton {
	margin-left: 11px;
	width: 282px;
	margin-top: 10px;
}
.content-right .rightSide .wz_tool .smallButton li {
	float: left;
}
.content-right .rightSide .wz_tool .smallButton li a {
	float: left;
	color: #fff;
	background: #ed1a1a;
	width: 85px;
	height: 20px;
	border-radius: 4px;
	font-size: 15px;
	margin: 9px 7px 7px 0;
	text-align: center;
	border: 1px solid #e1e1e1;
}
.content-right .rightSide .wz_tool .smallButton li a:hover {
	color: #666;
	background: #fff;
}
.content-right .rightSide .wz_tool .articleList li {
	padding-left: 16px;
	height: 15px;
	font-size: 15px;
	margin: 12px 0;
}
.content-right .rightSide .wz_tool .articleList li a {
	font-size: 15px;
	color: #333;
}
.content-right .rightSide .wz_tool .articleList li .icon {
	display: inline-block;
	width: 4px;
	height: 7px;
	margin-right: 10px;
	background: url("../img201707/huid-icon.png") no-repeat;
}
.content-right .rightSide .wz_tool .articleList li a:hover {
	color: #ed1a1a;
}
