body{
  background: #fafafa;
}
.banner{
  width: 100%;
  height: 200px;
  min-width: 1200px;
  background: #5b95f5;
}
/*面包屑*/
.crumbs{
    width: 1200px;
    height: 55px;
    margin: 0 auto;
    line-height: 55px;
    font-weight: 300;
}
.crumbs span {
    font-size: 12px;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    color: #4c4c4c;
}
.content{
  width: 1200px;
  margin:0 auto 55px;
  overflow: hidden;
}
.content .content-left{
  float: left;
  width: 880px;
}
.content .content-left .encyClopedias{
  background-color: #fff;
  margin-bottom: 20px;
}
.content .content-left .encyClopedias .name{
    height: 66px;
    line-height: 66px;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
}
.content .content-left .encyClopedias .name span {
    padding: 0 20px 0 30px;
    height: 66px;
    display: inline-block;
    border-bottom: 2px solid #e94e38;
}
.content .content-left .encyClopedias .ency-content{
  padding: 25px 0 60px 20px;
}
.content .content-left .encyClopedias .ency-content ul{
    width:845px;
    overflow: hidden;
    margin: 0 auto;
}
.content .content-left .encyClopedias .ency-content ul li{
    width: 250px;
    float: left;
    margin: 0 15px 25px 15px;
}
.content .content-left .encyClopedias .ency-content .company-list{
  width: 250px;
}
.content .content-left .encyClopedias .ency-content .company-list-name{
    border-bottom: 1px dashed #e5e5e5;
    height: 40px;
    line-height: 32px;
    font-size: 18px;
    padding-left: 16px;
    position: relative;
}
.content .content-left .encyClopedias .ency-content .company-list-name a{
  color: #333333;
}
.content .content-left .encyClopedias .ency-content .company-list-name a:hover{
  color: #ed1a1a;
}
.content .content-left .encyClopedias .ency-content .company-list-name i{
    position: absolute;
    display: block;
    left: 0;
    top: 10px;
    width:6px;
    height: 10px;
    background: url("../../Skin/img201707/touz-bkl.png")no-repeat;
}
.content .content-left .encyClopedias .ency-content .company-list-con {
    padding: 7px 0 0;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.content .content-left .encyClopedias .ency-content .company-list-con div{
  min-height: 60px;
}
.content .content-left .encyClopedias .ency-content ul li:hover{
  margin: 0 15px 0 15px;
}
.content .content-left .encyClopedias .ency-content ul li:hover .company-list-con{
  height: 85px;
}
.content .content-left .encyClopedias .ency-content .company-list-con a {
    display: inline-block;
    line-height: 24px;
    padding: 0 6px;
    border: 1px solid #fff;
    border-radius: 12px;
    margin-bottom: 3px;
    color: #999;
}
.content .content-left .encyClopedias .ency-content .company-list-con a:hover{
  border: 1px solid #ccc;
}


.content .content-left .encyClopedias .ency-content .show{
  width: 845px;
  height: 40px;
  background: #f0f0f0;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 40px;
  color: #ed1a1a;
  cursor: pointer;
}
.content .content-left .encyClopedias .ency-content .show i {
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 8px;
    background: url("../../Skin/img201707/touz-bkdown.png")no-repeat;
}

.more{
  display: none;
}


.content .content-right{
  float: right;
  width: 300px;
}
.content .content-right .wz-search {
	width: 300px;
	height: 35px;
	margin-bottom: 10px;
}
.content .content-right .wz-search .search input {
	border: 1px solid #bbb;
	padding: 11px 25px;
	width: 154px;
	height: 11px;
	font-size: 15px;
	border-radius: 4px;
	float: left;
}
.content .content-right .wz-search .search button {
	width: 80px;
	height: 35px;
	margin-left: 10px;
	background: #ed1a1a;
	font-size: 15px;
	line-height: 35px;
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}

/*企业*/

.content .content-right .companyLunbo{
	width: 300px;
	height: 280px;
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #ed1a1a;
}

.content .content-right .companyLunbo h3 {
	font-size: 18px;
	color: #ed1a1a;
	margin-left: 33px;
	margin-top: 20px;
	font-weight: 500;
	margin-bottom: 21px;
}

.content .content-right .companyLunbo #cylb-roll {
	width: 300px;
	height: 190px;
	position: relative;
}
.content .content-right .companyLunbo #cylb-roll .cylb-contenter {
	width: 300px;
	height: 190px;
	position: relative;
	float: left;
	overflow: hidden;
}
.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content {
	width: 1200px;
	height: 190px;
	position: absolute;
}
.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll {
	width: 300px;
	height: 190px;
	float: left;
	cursor: pointer;
	overflow: hidden;
}
.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll a img {
	border: none;
	vertical-align: top;
}
.content .content-right .companyLunbo #cylb-roll .cylb-left {
	height:27px;
	width:16px;
	position: absolute;
	top:82px;
	left:9px;
	cursor: pointer;
	background: url("../img201707/向左icon.png") no-repeat;
}
.content .content-right .companyLunbo #cylb-roll .cylb-right {
	height:27px;
	width:16px;
	position: absolute;
	top:82px;
	right:9px;
	cursor: pointer;
	background: url("../img201707/向右icon.png") no-repeat;
}

.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox{
	width: 235px;
	height:152px;
	padding-top:36px;
	margin:0 auto;
	background: #fff;
	border: solid 1px #e5e5e5;
}
.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox .info{
	width: 205px;
	height:60px;
	margin:0 auto;
}
.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox .info span{
	display: block;
	width:60px;
	height:60px;
	float: left;
	margin-right: 17px;
}

.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox .info i{
	font-style: normal;
	display: inline-block;
	line-height:20px;
	font-size: 12px;
	color: #494949;
}

.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox .info .industry i{
	color: #808080;
}

.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox .info .time i{
	color: #808080;
}

.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox .info .state i{
	color: #808080;
}

.content .content-right .companyLunbo #cylb-roll .cylb-contenter .cylb-content .cylb-imgroll .cylbBox h2{
	font-size: 14px;
	color:#494949;
	margin-top: 42px;
	text-align: center;
}

.content .content-right .hot {
	width: 300px;
	height: 250px;
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #ed1a1a;
}
.content .content-right .hot ul {
	width: 300px;
	height: 250px;
}
.content .content-right .hot ul li {
	margin: 15px 25px 0;
	height: 50px;
}
.content .content-right .hot ul li img {
	width: 15px;
	height: 15px;
	margin-right: 7px;
	margin-top: 4px;
	float: left;
}
.content .content-right .hot ul li h3 {
	float: left;
	font-size: 18px;
	color: #ed1a1a;
	font-weight: 300;
}
.content .content-right .hot ul li p {
	font-size: 12px;
	color: #ababab;
	margin-left: 13px;
}
.content .content-right .hot ul li .title {
	font-size: 14px;
	color: #333;
	font-weight: 600;
}
.content .content-right .hot ul li .title b {
	display: inline-block;
	width: 3px;
	height: 3px;
	background: url("../img201707/red-icon.png");
	margin-right: 5px;
}
.content .content-right .hot ul li .title a {
	color: #333;
}
.content .content-right .hot ul li .title a:hover {
	color: #ed1a1a;
}
.content .content-right .hot ul li .title i {
	font-style: normal;
	float: right;
}
.content .content-right .hot ul .first {
	margin: 15px 33px 0;
	height: 20px;
}

.content .content-right .new-information {
	width: 300px;
	height: 222px;
	margin-bottom: 10px;
	background: #fff;
	border-top: 1px solid #ed1a1a;
}
.content .content-right .new-information h3 {
	font-size: 18px;
	color: #ed1a1a;
	margin-left: 33px;
	margin-top: 20px;
	font-weight: 500;
}
.content .content-right .new-information ul {
	width: 200px;
	height: 160px;
	margin-left: 35px;
}
.content .content-right .new-information ul li {
	margin-top: 15px;
	height: 17px;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
}
.content .content-right .new-information ul li a {
	color: #333;
}
.content .content-right .new-information ul li a b {
	display: inline-block;
	width: 17px;
	height: 16px;
	margin-right: 16px;
}
.content .content-right .new-information ul li a b img {
	width: 17px;
	height: 16px;
}
.content .content-right .new-information ul li a:hover {
	color: #ed1a1a;
}
.content .content-right .left-tell {
	width: 300px;
	height: 115px;
	margin-bottom: 10px;
	background: #f66;
}
.content .content-right .left-tell .tell-ency {
	width: 300px;
	height: 115px;
}
.content .content-right .left-tell .tell-ency #tell-roll {
	width: 300px;
	height: 115px;
	position: relative;
}
.content .content-right .left-tell .tell-ency #tell-roll .tell-contenter {
	width: 300px;
	height: 115px;
	position: relative;
	float: left;
	overflow: hidden;
}
.content .content-right .left-tell .tell-ency #tell-roll .tell-contenter .tell-content {
	width: 1200px;
	height: 115px;
	position: absolute;
}
.content .content-right .left-tell .tell-ency #tell-roll .tell-contenter .tell-content .tell-imgroll {
	width: 300px;
	height: 115px;
	float: left;
	cursor: pointer;
	overflow: hidden;
}
.content .content-right .left-tell .tell-ency #tell-roll .tell-contenter .tell-content .tell-imgroll a img {
	border: none;
	vertical-align: top;
}
.content .content-right .left-tell .tell-ency #tell-roll .tell-left {
	height: 20px;
	width: 14px;
	position: absolute;
	top: 48px;
	left:0;
	cursor: pointer;
	background: url("../img201707/left.png");
}
.content .content-right .left-tell .tell-ency #tell-roll .tell-right {
	height: 20px;
	width: 14px;
	position: absolute;
	top: 48px;
	right: 0;
	cursor: pointer;
	background: url("../img201707/right.png");
}
.content .content-right .Newest {
	width: 300px;
	height: 222px;
	margin-bottom: 10px;
	background: #fff;
	border-top: 1px solid #ed1a1a;
}
.content .content-right .Newest h3 {
	font-size: 18px;
	color: #ed1a1a;
	margin-left: 33px;
	margin-top: 20px;
	font-weight: 500;
}
.content .content-right .Newest ul {
	width: 200px;
	height: 160px;
	margin-left: 35px;
}
.content .content-right .Newest ul li {
	margin-top: 15px;
	height: 17px;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
}
.content .content-right .Newest ul li a {
	color: #333;
}
.content .content-right .Newest ul li a b {
	display: inline-block;
	width: 21px;
	height: 16px;
	margin-right: 14px;
}
.content .content-right .Newest ul li a b img {
	width: 21px;
	height: 16px;
}
.content .content-right .Newest ul li a:hover {
	color: #ed1a1a;
}

/*其他分类*/

.content .content-right .other {
	width: 300px;
	height: 185px;
	background: #fff;
	border-top: 1px solid #ed1a1a;
	margin-bottom: 10px;
}
.content .content-right .other h3 {
	font-size: 18px;
	margin: 22px 0 22px 32px;
	color: #ed1a1a;
	font-weight: 500;
}

.content .content-right .other #rmfl-roll {
	width: 300px;
	height: 115px;
	position: relative;
}
.content .content-right .other #rmfl-roll .rmfl-contenter {
	width: 300px;
	height: 115px;
	position: relative;
	float: left;
	overflow: hidden;
}
.content .content-right .other #rmfl-roll .rmfl-contenter .rmfl-content {
	width: 1200px;
	height: 115px;
	position: absolute;
}
.content .content-right .other #rmfl-roll .rmfl-contenter .rmfl-content .rmfl-imgroll {
	width: 300px;
	height: 115px;
	float: left;
	cursor: pointer;
	overflow: hidden;
}
.content .content-right .other #rmfl-roll .rmfl-contenter .rmfl-content .rmfl-imgroll a img {
	border: none;
	vertical-align: top;
}
.content .content-right .other #rmfl-roll .rmfl-left {
	height:27px;
	width:16px;
	position: absolute;
	top: 20px;
	left:20px;
	cursor: pointer;
	background: url("../img201707/向左icon.png") no-repeat;
}
.content .content-right .other #rmfl-roll .rmfl-right {
	height:27px;
	width:16px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background: url("../img201707/向右icon.png") no-repeat;
}

.content .content-right .other #rmfl-roll .rmfl-contenter .rmfl-content .rmfl-imgroll ul {
	width: 250px;
	height: 85px;
	margin:0 auto;
}
.content .content-right .other #rmfl-roll .rmfl-contenter .rmfl-content .rmfl-imgroll ul li {
	width: 112px;
	height: 29px;
	margin:0 auto 13px;
	background: #ed1a1a;
	text-align: center;
	line-height: 29px;
	font-size: 16px;
}
.content .content-right .other #rmfl-roll .rmfl-contenter .rmfl-content .rmfl-imgroll ul li a {
	color: #fff;
}

.content .content-right .wz_rmwd {
	width: 300px;
	height: 288px;
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #ed1a1a;
}
.content .content-right .wz_rmwd h3 {
	font-size: 16px;
	font-weight: 300;
	color: #ed1a1a;
	margin-top: 22px;
	margin-bottom: 19px;
	margin-left: 32px;
}
.content .content-right .wz_rmwd ul {
	width: 300px;
	overflow: hidden;
}
.content .content-right .wz_rmwd ul li {
	width: 100%;
	min-height: 16px;
	height: auto;
	display: inline-block;
	line-height: 16px;
	font-size: 14px;
	margin-bottom: 19px;
	text-align: center;
	border-bottom: 1px dashed #e5e5e5;
}
.content .content-right .wz_rmwd ul li a {
	float: left;
	font-size: 15px;
	text-align: left;
	color: #333;
}
.content .content-right .wz_rmwd ul li a img {
	width: 17px;
	height: 17px;
	float: left;
	margin-left: 32px;
	margin-right: 5px;
	vertical-align: middle;
}
.content .content-right .wz_rmwd ul li a p {
	display: inline-block;
	line-height: 15px;
}
.content .content-right .wz_rmwd ul li a .info {
	margin-left: 32px;
	margin-top: 5px;
	font-size: 12px;
	width: 240px;
	padding-bottom: 20px;
}
.content .content-right .wz_rmwd ul li a .info b {
	font-weight: normal;
	color: #000;
	margin-right: 5px;
	float: left;
}
.content .content-right .wz_rmwd ul li a .info .state {
	float: right;
	color: #666;
}
.content .content-right .wz_rmwd ul .last {
	border: none;
}
.content .content-right .rightSide{
	width: auto;
}

.content .content-right .rightSide .wz_tool {
	width: 300px;
	height: 302px;
	background: #fff;
	border-top: 1px solid #ed1a1a;
}
.content .content-right .rightSide .fix {
	position: fixed;
	top: 0;
}
.content .content-right .rightSide .wz_tool h3 {
	font-size: 16px;
	color: #ed1a1a;
	margin-left: 32px;
	margin-top: 20px;
}
.content .content-right .rightSide .wz_tool ul {
	width: 300px;
	height: auto;
	overflow: hidden;
}
.content .content-right .rightSide .wz_tool .smallButton {
	margin-left: 11px;
	width: 282px;
	margin-top: 10px;
}
.content .content-right .rightSide .wz_tool .smallButton li {
	float: left;
}
.content .content-right .rightSide .wz_tool .smallButton li a {
	float: left;
	color: #fff;
	background: #ed1a1a;
	width: 84px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #e1e1e1;
	font-size: 15px;
	margin: 9px 8px 8px 0;
	text-align: center;
}
.content .content-right .rightSide .wz_tool .smallButton li a:hover {
	color: #666;
	background: #fff;
}
.content .content-right .rightSide .wz_tool .articleList li {
	padding-left: 16px;
	height: 15px;
	font-size: 15px;
	margin: 12px 0;
}
.content .content-right .rightSide .wz_tool .articleList li a {
	font-size: 15px;
	color: #333;
}
.content .content-right .rightSide .wz_tool .articleList li .icon {
	display: inline-block;
	width: 4px;
	height: 7px;
	margin-right: 10px;
	background: url("../img201707/huid-icon.png") no-repeat;
}
.content .content-right .rightSide .wz_tool .articleList li a:hover {
	color: #ed1a1a;
}
